.Select {

  &.invalid {
    .Select-multi-value-wrapper {
     @extend .field--invalid;
    }
  }

  &.is-focused:not(.is-open) {
    box-shadow: 0;
    outline: -webkit-focus-ring-color auto 5px;
  }

  .Select-control {
    border: 1px solid gray;
    border-radius: 0;
    height: auto;


    .Select-multi-value-wrapper {
      display: flex;

      .Select-value {
        align-items: center;
        display: flex;
        margin: .3rem .3rem;

        .Select-value-icon {
          border-right: 0;
          order: 2;
          padding: 0 5px 0 3px;
        }
        .Select-value-label {
          order: 1;
        }
      }
    }
  }

  &.has-value {
   & ~ .CustomInput-error {
      @extend .hidden;
    }
  }
}
