.Select {
  .Select-control {
    height: auto;

    .Select-multi-value-wrapper {
      display: flex;

      .Select-value {
        align-items: center;
        display: flex;
        margin: .3rem .3rem;

        .Select-value-icon {
          border-right: 0;
          order: 2;
          padding: 0 5px 0 3px;
        }
        .Select-value-label {
          order: 1;
        }
      }
    }
  }
}
