.Form {
  padding-bottom: 5rem;

  &-section {
    @extend .col-8;
    padding: 1.5rem 0 2rem;

   .CustomInput--textarea {
     .CustomInput-field {
       min-height: 8rem;
     }

     .CustomInput-error {
       display: block;
     }
   }
  }

  &-sectionLabel {
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .5rem 0;
    text-transform: uppercase;
  }

  &-greenBtn {
    background-color: $cool-green;
    border-radius: 5px;
    box-shadow: 1px 4px 4px gray;
    color: white;
    cursor: pointer;
    display: block;
    line-height: 2rem;
    margin: .5rem 0;
    text-align: center;
    transition: all .5s linear;
    width: 6rem;

    &:hover {
      background-color: $cool-green-dark;
    }
  }

  &-submitButton {
    background-color: $cool-blue;
    border: 0;
    border-radius: 50%;
    bottom: 6rem;
    box-shadow: 2px 2px 20px lightslategrey;
    cursor: pointer;
    height: 7rem;
    position: fixed;
    right: 8rem;
    text-transform: uppercase;
    width: 7rem;
    z-index: 2;
  }
}

