.AddRecipeForm {

  .Form-section {
    @extend .col-8;
    padding: 1.5rem 0 2rem;

   .CustomInput--textarea {
     .CustomInput-field {
       min-height: 8rem;
     }

     .CustomInput-error {
       display: block;
      }
    }
  }

  &-submitButton {
    background-color: $cool-blue;
    border: 0;
    border-radius: 50%;
    bottom: 6rem;
    box-shadow: 2px 2px 20px lightslategrey;
    cursor: pointer;
    height: 7rem;
    position: fixed;
    right: 8rem;
    text-transform: uppercase;
    width: 7rem;
    z-index: 2;
  }
}

