.Ingredients {

  .CustomInput {
    @extend .col-5;
    display: inline-block;
    vertical-align: top;

    &:first-child {
      margin-right: 1.5rem;
    }
  }

  &-inputContainer {
    padding-bottom: .5rem;
  }

  &-removeIngredient {
    cursor: pointer;
    font-size: 1.25rem;
    left: .5rem;
    position: relative;
    top: .25rem;
  }
}
