.CustomInput {
  @include clearfix;

  &--inline {
    display: inline-block;
  }

  &--bottomPadding {
    padding-bottom: 1rem;
  }

  &-field {
    border: 1px solid gray;
    outline: none;

    &.touched {
      border-color: $touched-blue;
      box-shadow: 0px 0px 5px 1px $touched-blue;
      outline: 0;
    }

    &.valid {
      border-color: $cool-green;
      box-shadow: 0px 0px 5px 1px $cool-green;
      outline: 0;;
    }

    &.invalid {
      border-color: $warning-red;
      box-shadow: 0px 0px 5px 1px $warning-red;
      outline: 0;
    }
  }
}
