.RecipeCard {
  margin-bottom: 1rem;
  min-width: 15rem;

  &-link {
    display: block;
    height: 100%;
    width: 100%;
  }

  &-inner {
    cursor: pointer;
    height: 15rem;
    padding: 1rem;
    transition: all 1s ease;
  }

  &-imageWrap {
    height: 12rem;
    outline: 1px solid white;
    outline-offset: -.5rem;
    overflow: hidden;
  }

  &-image {
    height: auto;
    width: 100%;
  }

  &-title {
    color: black;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-description {
    color: black;
    font-weight: 300;
    letter-spacing: .4px;
    line-height: 1.2;
    margin: .5rem 0;
    min-height: 55px;
  }

  &-category {
    color: #975aba;
    font-weight: 300;
    text-transform: uppercase;
  }
}

@include media-query($md) {
  .RecipeCard {
    float: left;
    margin-bottom: .4rem;
    padding-right: .4rem;
  }
}
