.header {
  &_nav {
    &_list {
      display: flex;
      height: 100%;
      list-style-type: none;
      justify-content: center;

      &_item {

        &_link {
          @include textStyle($default, 1.25rem, initial, initial, black, .5px);
          display: block;
          margin: 1rem 0;
          padding: 0 .75rem;

          &--active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
