@mixin textStyle($fontFamily, $fontSize, $color, $letterSpacing) {
  color: $color;
  font-family: $fontFamily;
  font-size: $fontSize;
  letter-spacing: $letterSpacing;
}

@mixin clearfix() {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin media-query($screen-min) {
  @media screen and (min-width: $screen-min) {
    @content;
  }
}

@mixin flex-item($flex-basis, $flex-grow, $flex-shrink) {
  flex-basis: $flex-basis;
  flex-grow: $flex-grow;
  flex-shrink: $flex-shrink;
}
