* {
  box-sizing: border-box;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #fff;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

img {
  background-color: gray;
  display: block;
  max-width: 100%;
}

.clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.centered {
  margin: 0 auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.right-align-block {
  margin-left: auto;
}

.hidden {
  display: none;
}
