* {
  box-sizing: border-box;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.centered {
  margin: 0 auto;
}

.hidden {
  display: none;
}
