$headers: 6;

$default: 'Roboto', sans-sefif;
$logo: 'Krona One', sans-serif;

@for $i from 1 through $headers {
  h#{$i} {
    font-size: calc(1rem + (1rem / #{$i}));
    margin: 0;
    padding: .5em 0;
  }
}

.logo {
  @include textStyle($logo, 2rem, black, 1px);
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}
